@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 3px;
  padding: 3px;
}

.nav {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.nav li a {
  text-decoration: none;
}
.nav li a:hover {
  font-weight: bold;
}
.nav .btn {
  margin-left: auto;
  transition: all 0.3s ease;
}
.nav .btn:hover {
  background-color: #333;
  color: white;
  border-color: #007bff;
}
.form-control {
  width: 60vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
